# Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [ ]:
import q1module as Q1

# Using the functions and variables from the module
Q1.b()
Q1.b()
Q1.b()
print(Q1.a)

6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [23]:

def file_length(file_name):
    try:
        with open(file_name) as file:
            contents = file.read()
            print(len(contents))
    except FileNotFoundError:
        print(f"File {file_name} not found.")

# Test with the uploaded file (i renamed the file name of filelength.txt as midterm.py)
file_length('midterm.py')

# Test with a non-existent file
file_length('idterm.py')

311
File idterm.py not found.

The Value is "6" When I executed the last Statement.
Here a is declared as a global variable so when i first called the b() function it was updated as 2. Three upgrades of a were performed after three calls to b().
So, a has a final value of 6.

# Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [ ]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f'I am a Kangaroo located at coordinates ({self.x},{self.y})'

# Testing the classes
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # ['doll', 'firetruck', 'kitten']

k = Kangaroo(0, 0)
print(k)  # I am a Kangaroo located at coordinates (0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # ['doll', 'firetruck', 'kitten']
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)  # I am a Kangaroo located at coordinates (3,0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [20]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

# Testing the function

collatz(1)

1

In [21]:
collatz(10)

10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [16]:
def binary(n):
    if n == 0:
        print(0, end='')
        return
    elif n == 1:
        print(1, end='')
        return
    else:
        binary(n // 2)
        print(n % 2, end='')

# Testing the function

binary(0)

0

In [17]:
binary(1)

1

In [18]:
binary(3)

11

In [19]:
binary(9)

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [25]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.heading_level = 0

    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = True
            self.heading_level = int(tag[1])

    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            print(' ' * (self.heading_level - 1) + data.strip())

# Testing the HeadingParser with the w3c.html content
infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [33]:
from urllib import request
from urllib.parse import urlparse, urljoin
from html.parser import HTMLParser

class WebDirHTMLParser(HTMLParser):
    def __init__(self, base_url, depth, indent, current_depth=0):
        super().__init__()
        self.base_url = base_url
        self.depth = depth
        self.indent = indent
        self.current_depth = current_depth
        self.visited_urls = set()

    def handle_starttag(self, tag, attrs):
        if self.current_depth < self.depth and tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    url = urljoin(self.base_url, attr[1])
                    if url not in self.visited_urls and urlparse(url).netloc == urlparse(self.base_url).netloc:
                        self.visited_urls.add(url)
                        print(' ' * self.indent * (self.current_depth + 1) + url)
                        if self.current_depth < self.depth:
                            self.parse_url(url, self.current_depth + 1)

    def parse_url(self, url, current_depth):
        try:
            response = request.urlopen(url)
            html_content = response.read().decode('utf-8')
            parser = WebDirHTMLParser(self.base_url, self.depth, self.indent, current_depth)
            parser.visited_urls = self.visited_urls  # share the visited URLs set
            parser.feed(html_content)
        except Exception as e:
            print(f"Failed to retrieve {url}: {e}")

def webdir(url, depth, indent):
    parsed_url = urlparse(url)
    base_url = parsed_url.scheme + '://' + parsed_url.netloc
    print(url)
    parser = WebDirHTMLParser(base_url, depth, indent)
    parser.parse_url(url, 0)

#
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
Failed to retrieve http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: HTTP Error 404:

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [ ]:
import sqlite3

# Create a connection to a SQLite database
conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

# Create the table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
)
''')

# Insert data into the table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

# Insert the data into the Weather table
cursor.executemany('''
INSERT INTO Weather (City, Country, Season, Temperature, Rainfall)
VALUES (?, ?, ?, ?, ?)
''', data)


conn.commit()

In [27]:
# a) All the temperature data
qa = 'SELECT Temperature FROM Weather'
print("a) All the temperature data:")
for row in cursor.execute(qa):
    print(row)

a) All the temperature data:
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [6]:

# b) All the cities, but without repetition
qb = 'SELECT DISTINCT City FROM Weather'
print("\nb) All the cities, but without repetition:")
for row in cursor.execute(qb):
    print(row)

b) All the cities, but without repetition:
('Mumbai',)
('London',)
('Cairo',)

In [10]:
# Query c) All the records for India
qc = 'SELECT * FROM Weather WHERE Country = "India"'
print("\nc) All the records for India:")
for row in cursor.execute(qc):
    print(row)

c) All the records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [11]:
# Query d) All the Fall records
qd = 'SELECT * FROM Weather WHERE Season = "Fall"'
print("\nd) All the Fall records:")
for row in cursor.execute(qd):
    print(row)

d) All the Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [12]:
# Query e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
qe = '''
SELECT City, Country, Season
FROM Weather
GROUP BY City, Country, Season
HAVING AVG(Rainfall) BETWEEN 200 AND 400
'''

print("\ne) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
for row in cursor.execute(qe):
    print(row)

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [15]:
# Query f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
qf = '''
SELECT City, Country
FROM Weather
WHERE Season = "Fall"
GROUP BY City, Country
HAVING AVG(Temperature) > 20
ORDER BY AVG(Temperature) ASC
'''

print("\nf) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:")
for row in cursor.execute(qf):
    print(row)

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
('Cairo', 'Egypt')
('Mumbai', 'India')

In [14]:
# Query g) The total annual rainfall for Cairo
qg = '''
SELECT SUM(Rainfall) AS Total_Annual_Rainfall
FROM Weather
WHERE City = "Cairo"
'''

print("\ng) The total annual rainfall for Cairo:")
for row in cursor.execute(qg):
    print(row)

g) The total annual rainfall for Cairo:
(55.2,)

In [13]:
# Query h) The total rainfall for each season
qh = '''
SELECT Season, SUM(Rainfall) AS Total_Rainfall
FROM Weather
GROUP BY Season
'''

print("\nh) The total rainfall for each season:")
for row in cursor.execute(qh):
    print(row)

h) The total rainfall for each season:
('Fall', 1138.0)
('Spring', 384.59999999999997)
('Summer', 3413.0)
('Winter', 460.2)

# Question9
Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# a) List of words in uppercase
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [ ]:
# b) List of words in lowercase
lowercase_words = [word.lower() for word in words]
print(lowercase_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [ ]:
# c) List of lengths of words
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [ ]:
# d) List containing a list for every word with uppercase, lowercase, and length
word_details = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_details)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [ ]:
# e) List of words containing 4 or more characters
long_words = [word for word in words if len(word) >= 4]
print(long_words)

['quick', 'brown', 'jumps', 'over', 'lazy']